.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: white;
  height: 60%;
  justify-content: space-between;
  margin-right: 10px;
}
.chatinfo_container
{
  background-color: #2979FF;
  display: flex;
  flex-direction: column;
  
  border-radius: 17px;
  
  padding: 3px 3px 0px 4px;
}
.info_container
{
  background-color: #f73f3f;
  
  border-radius: 17px;
  float: right;
  display: flex;
  flex-direction: column;
  padding: 2px 6px 10px 14px
}
.box_container{
 
  background-color: #2979FF;
    border-radius: 14px;
    display: flex;
    float: right;
    width: 428px;
    padding: 2px 0px 2px 3px;
    flex-direction: column;
}
.box_container h1
{
  text-align: center;
}
.online_active_container
{
  background-color:
  #fff;
  text-align: center;
  border-radius: 12px;
}

.activeContainer {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  /* margin-bottom: 50%; */
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.activeContainer h1 {
  margin-bottom: 0px;
  color: #000;
}
/* .activeContainer h2 {


} */

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}